<div style="text-align: center;">

  <!-- <div class="button-row">

    <div class="title">Admin UI</div>

    <div class="title1">Title of Page</div>

  </div> -->

  <div class="button-row">

    <div class="button-row-left">
      <button mat-flat-button title="Pen" (click)="togglePen()" color="primary">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-flat-button title="Box" (click)="box()" color="primary">
        <mat-icon>crop_3_2</mat-icon>
      </button>
      <button mat-flat-button title="Circle" (click)="circle()" color="primary">
        <mat-icon>brightness_1</mat-icon>
      </button>
      <button mat-flat-button title="Triangle" (click)="triangle()" color="primary">
        <mat-icon>change_history</mat-icon>
      </button>
      <button mat-flat-button title="Cloud Shape" (click)="cloud()" color="primary">
        <mat-icon>cloud_queue</mat-icon>
      </button>

    </div>

    <div class="button-row-right">
      <button mat-flat-button title="increaseHeight" (click)="increaseHeight()" color="primary">
        ht
        <mat-icon>zoom_in</mat-icon>
      </button>
      <button mat-flat-button title="decreaseHeight" (click)="decreaseHeight()" color="warn">
        ht
        <mat-icon>zoom_out</mat-icon>
      </button>
      <button mat-flat-button title="increaseWidth" (click)="increaseWidth()" color="primary">
        wd
        <mat-icon>zoom_in</mat-icon>
      </button>
      <button mat-flat-button title="decreaseWidth" (click)="decreaseWidth()" color="warn">
        wd
        <mat-icon>zoom_out</mat-icon>
      </button>

    </div>
  </div>

  <div class="button-row">

    <div class="button-row-left">
      <button mat-flat-button title="Dialog Box" (click)="dialog()" color="primary">
        <mat-icon>chat_bubble_outline</mat-icon>
      </button>
      <button mat-flat-button title="TextBox" (click)="textBox()" color="primary">
        <mat-icon>text_rotation_none</mat-icon>
      </button>
      <button mat-flat-button title="Reset" (click)="reset()" color="warn">
        <mat-icon>settings_backup_restore</mat-icon>
      </button>
      <button mat-flat-button title="Delete" (click)="deleteObjects()" color="warn">
        <mat-icon>delete_forever</mat-icon>
      </button>
      <button mat-flat-button title="Export Canvas" class="orange">
        <mat-icon>backup</mat-icon>
        Export
      </button>
    </div>

    <div class="button-row-right" *ngFor="let color of colors;">
      <button mat-mini-fab class={{color}} style="box-shadow: none;" (click)="selectedColor = color">
        <mat-icon *ngIf="selectedColor == color" [style.color]="'black'">done</mat-icon>
      </button>
    </div>
  </div>

  <div style="display: inline-flex;">

    <div class="button-col">
      <div *ngFor="let color of colors;">
        <button mat-mini-fab title={{color}} class={{color}} style="border: 1px solid black;" (click)="selectedColor = color">
          <mat-icon *ngIf="selectedColor == color" [style.color]="'black'">done</mat-icon>
        </button>
      </div>
    </div>

    <canvas id="canvas"></canvas>

    <div class="button-col">


      <button class="redButton" title="Export Canvas" mat-fab (click)="exportJsonAdmin()" color="warn">
        <mat-icon>backup</mat-icon>
      </button>
    </div>
  </div>

</div>
