.title{
  font-size: xx-large;
  font-weight: bold;
  float: left;
  margin-top: 1%;
  margin-bottom: 1%;
}

.title1{
  font-size: xx-large;
  font-weight: bold;
  float: right;
  margin-top: 1%;
  margin-bottom: 1%;
}

#canvas{
  margin-left: 5px;
  margin-right: 5px;
  overflow: scroll;
  height: 600px;
}

#canvas-container{
  border: 2px solid black;
  border-radius: 10px;
}

.button-row{
  /* width: 70%; */
  margin: 5px auto;
  contain: content;

}

.button-row-left{
  float: left;
}

.button-row-right{
  margin-top: 3px;
  float: right;
}

.button-row-left button{
  margin-right: 8px;
}

.button-row-right button{
  margin-left: 8px;
}
.example-spacer {
  flex: 1;
}
.red{
  background-color: red;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}

.orange{
  background-color: orange;
}

.yellow{
  background-color: yellow;
}

.white{
  background-color: whitesmoke;
}

.brown{
  background-color: brown;
}
.pink{
  background-color: pink;
}
.violet{
  background-color: violet;
}
.magenta{
  background-color: magenta;
}
.lime{
  background-color: lime;
}


