.title{
  font-size: xx-large;
  font-weight: bold;
  float: left;
  margin-top: 1%;
  margin-bottom: 1%;
}

<<<<<<< HEAD
#canvas{
  border: 2px solid black;
  border-radius: 10px;

}
.button-col{
  display: inline-block;
  margin: auto 10px 0 10px;
=======
.title1{
  font-size: xx-large;
  font-weight: bold;
  float: right;
  margin-top: 1%;
  margin-bottom: 1%;
}

#canvas{
  margin-left: 5px;
  margin-right: 5px;
  overflow: scroll;
  height: 600px;
>>>>>>> 9936da64800ba07460c0d9bfbd998817e492efba
}

.button-col button{
  margin-top: 8px;
  box-shadow: none;
  display: block;
}

.input-element {
  border: 1px solid black;
  background: none;
  padding: 0;
  outline: none;
  font: inherit;
  text-align: start;
  height: 30px;
  width: 100%;
}
.button-effect:hover{
  background-color:#0080FF;
  color:white;
}
.button-row{
<<<<<<< HEAD
  width: 1067px;
  margin: 10px auto;
=======
  /* width: 70%; */
  margin: 5px auto;
>>>>>>> 9936da64800ba07460c0d9bfbd998817e492efba
  contain: content;

}

.button-row-left{
  float: left;
}

.button-row-right{
  margin-top: 3px;
  float: right;
}

.button-row-left button{
  margin-right: 8px;
}

.button-row-right button{
  margin-left: 8px;
}
<<<<<<< HEAD
.blueButton:hover{
  background-color: #0080FF;
}

.redButton:hover{
  background-color: rgb(255,128,0);
=======
.example-spacer {
  flex: 1;
}
.red{
  background-color: red;
>>>>>>> 9936da64800ba07460c0d9bfbd998817e492efba
}

.blueButton:hover{
  background-color: #0080FF;
}

.redButton:hover{
  background-color: rgb(255,128,0);
}

.mat-mini-fab:hover{
  opacity: 0.5;
}

.mat-h2{
  text-align: center;
  margin: 10px auto;
  color: salmon;
}

.cornsilk{
  background-color: cornsilk;
}

.aquamarine{
  background-color: aquamarine;
}

.cyan{
  background-color: cyan;
}

.thistle{
  background-color: thistle;
}

.pink{
  background-color: pink;
}
<<<<<<< HEAD

.red{
  background-color: red;
}

.blue{
  background-color: blue;
=======
.violet{
  background-color: violet;
}
.magenta{
  background-color: magenta;
>>>>>>> 9936da64800ba07460c0d9bfbd998817e492efba
}

.lime{
  background-color: lime;
}

.salmon{
  background-color: salmon;
}

.white{
  background-color: whitesmoke;
}

.mat-h2{
  text-align: center;
  margin: 20px auto;
  color: salmon;
}


