.title{
    font-size: xx-large;
    font-weight: bold;
    float: left;
    margin-top: 1%;
}

#canvas{
    border: 2px solid black;
    border-radius: 10px;
    
}
.button-col{
    display: inline-block;
    margin: auto 10px 0 10px;
}

.button-col button{
    margin-top: 8px;
    box-shadow: none;
    display: block;
}

.input-element {
    border: 1px solid black;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: start;
    height: 30px;
    width: 100%;
  }

.button-row{
    width: 1067px;
    margin: 10px auto;
    contain: content;
}

.button-row-left{
    float: left;
}

.button-row-right{
    float: right;
}

.button-row-left button{
    margin-right: 8px;
}

.button-row-right button{
    margin-left: 8px;
}

.mat-primary{
    background-color: #004f9d;
}
.mat-primary:hover{
    background-color: #0080FF;
}

.mat-warn{
background-color: #eb0013 ;
}
.mat-warn:hover{
    background-color:#fd5307;
}


.mat-mini-fab:hover{
    opacity: 0.6;
}

.mat-h2{
    text-align: center;
    margin: 10px auto;
    color: salmon;
}

.cornsilk{
    background-color: cornsilk;
}

.aquamarine{
    background-color: aquamarine;
}

.CornflowerBlue{
    background-color: CornflowerBlue;
}

.thistle{
    background-color: thistle;
}

.salmon{
    background-color: salmon;
}

.white{
    background-color: whitesmoke;
}

.mat-h2{
    text-align: center;
    margin: 20px auto;
    color: salmon;
}