.title{
    color : rgb(0,75,150);
    font-family: 'Raleway',sans-serif;
    font-size: xx-large;
    font-weight: bold;
    float: left;
    margin-top: 0.5%;
    text-transform: capitalize;
    letter-spacing: normal;
}

#canvas{
    border: 2px solid rgb(0,75,150);
    border-radius: 10px;    
}

.button-col{
    display: inline-block;
    margin: auto 10px 0 10px;
}

.button-col button{
    margin-top: 8px;
    box-shadow: none;
    display: block;
}

.button-row{
    width: 1067px;
    margin: 10px auto;
    contain: content;
}

.button-row-left{
    float: left;
}

.button-row-right{
    float: right;
}

.button-row-left button{
    margin-right: 8px;
}

.button-row-right button{
    margin-left: 8px;
}

.mat-flat-button:hover {
    background-color: #3F51B5;
  }

.mat-fab:hover{
    background-color: darkred;
}

.mat-mini-fab:hover{
    opacity: 0.6;
}

.mat-h2{
    text-align: center;
    margin: 10px auto;
    color: salmon;
}

.CornflowerBlue{
    background-color: CornflowerBlue;
}
.darkcyan{
    background-color: darkcyan;
}

.mediumpurple{
    background-color: mediumpurple;
}
.salmon{
    background-color: salmon;
}

.coral{
    background-color: coral;
}
.gold{
    background-color: gold;
}

.white{
    background-color: whitesmoke;
}

.redButton{
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}