<div class="userUI">

    <div class="button-row">

      <div class="title">User UI</div>
  
      <div class="button-row-right"  >

        <button mat-flat-button class= "button-effect" (click)="addRectangle()" color="primary" [disabled]="canvas.connect" >
            <mat-icon>add_box</mat-icon>
            Rectangle
        </button>

        <button mat-flat-button class= "button-effect" (click)="addEllipse()" color="primary" [disabled]="canvas.connect">
            <mat-icon>add_circle</mat-icon>
            Ellipse
        </button>

        <button mat-flat-button class= "button-effect" (click)="addImage()" color="primary" [disabled]="canvas.connect">
          <mat-icon>stars</mat-icon>
          Image
        </button>

        <button mat-flat-button class= "button-effect" (click)="connect()" color="primary">
          <mat-icon>timeline</mat-icon>
          {{canvas.connectButtonText}}
        </button>
      </div>
  
    </div>
  
    <div id="canvas-div" (window:resize)= "scaleCanvas()" >
    
        <canvas id="canvas-container"></canvas>
      
    </div>
  
    <div class="button-row">
  
        <div class="button-row-left" *ngFor = "let color of colors;">
          <button mat-mini-fab class={{color}} style="box-shadow: none;" (click)="selectedColor = color">
            <mat-icon *ngIf="selectedColor == color" [style.color]="'black'">done</mat-icon>
          </button>
        </div>
  
        <div class="button-row-right">
          <button mat-flat-button class="red" (click)="clear()">
            <mat-icon>delete</mat-icon>
            Clear
          </button>

          <div class="button-row-right" >
            
            <button mat-flat-button  class="orange"  id="undo" (click)="doUndo()" enabled >
              <mat-icon>undo</mat-icon>
              Undo
            </button>
        
            
              <button mat-flat-button  class="orange" id="redo" (click)="doRedo()" enabled >
                <mat-icon>redo</mat-icon>
               Redo
              </button>
          <button mat-flat-button class="orange">
            <mat-icon>cloud_download</mat-icon>
            Export
          </button>
        </div>
  
    </div>
  
</div>
</div>