.title{
    font-size: xx-large;
    font-weight: bold;
    float: left;
    margin-top: 1%;
}

#canvas{
    border: 2px solid black;
    border-radius: 10px;
    
}
.button-col{
    display: inline-block;
    margin: auto 10px 0 10px;
}

.button-col button{
    margin-top: 8px;
    box-shadow: none;
    display: block;
}

.button-row{
    width: 1067px;
    margin: 10px auto;
    contain: content;
}

.button-row-left{
    float: left;
}

.button-row-right{
    float: right;
}

.button-row-left button{
    margin-right: 8px;
}

.button-row-right button{
    margin-left: 8px;
}

.blueButton:hover{
    background-color: #0080FF;
}

.redButton:hover{
    background-color: rgb(255,128,0);
}

.mat-mini-fab:hover{
    opacity: 0.5;
}

.mat-h2{
    text-align: center;
    margin: 10px auto;
    color: salmon;
}

.cornsilk{
    background-color: cornsilk;
}

.aquamarine{
    background-color: aquamarine;
}

.cyan{
    background-color: cyan;
}

.thistle{
    background-color: thistle;
}

.salmon{
    background-color: salmon;
}

.white{
    background-color: whitesmoke;
}