<div class="userUI">

    <div class="button-row">

      <div class="title">User UI</div>
  
      <div class="button-row-right" >

        <button class="blueButton" mat-flat-button (click)="addRectangle()" color="primary" [disabled]="canvas.connect || canvas.deleteMode">
            <mat-icon>add_box</mat-icon>
            Rectangle
        </button>
        <button class="blueButton" mat-flat-button (click)="addEllipse()" color="primary" [disabled]="canvas.connect || canvas.deleteMode">
            <mat-icon>add_circle</mat-icon>
            Ellipse
        </button>
        <button class="blueButton" mat-flat-button (click)="addImage()" color="primary" [disabled]="canvas.connect || canvas.deleteMode">
          <mat-icon>stars</mat-icon>
          Image
        </button>
        <button class="redButton" mat-flat-button (click)="connect()" color = "warn" [disabled] = "canvas.deleteMode">
          <mat-icon>timeline</mat-icon>
          {{canvas.connectButtonText}}
        </button>
      </div>
  
    </div>
  
    <div id="canvas-div" (window:resize)="scaleCanvas()">
    
        <canvas id="canvas-container"></canvas>
      
    </div>
  
    <div class="button-row">
  
        <div class="button-row-left" *ngFor = "let color of colors;">
          <button mat-mini-fab class={{color}} style="box-shadow: none; border: 1px solid black;" (click)="selectedColor = color">
            <mat-icon *ngIf="selectedColor == color" [style.color]="'black'">done</mat-icon>
          </button>
        </div>
  
        <div class="button-row-right">
          <button class="redButton" mat-flat-button color = "warn" (click)="clear()">
            <mat-icon>layers_clear</mat-icon>
            Clear
          </button>
          <button class="redButton" mat-flat-button color = "warn" (click)="delete()" [disabled] = "canvas.connect">
            <mat-icon>delete</mat-icon>
            {{canvas.deleteText}}
          </button>
          <button class="redButton" mat-flat-button color = "warn">
            <mat-icon>cloud_download</mat-icon>
            Export
          </button>
        </div>
  
    </div>

    <p class = "mat-h2" *ngIf = "canvas.connect"> Note: Double click on any two cards to connect. </p>
    <p class = "mat-h2" *ngIf = "canvas.deleteMode"> Note: Double click on any one card to delete. </p>
  
</div>