<div *ngIf="!isLoggedIn">
    <mat-grid-list cols="2" [rowHeight]="inH">
        <mat-grid-tile colspan="1" rowspan="1" >
            <img class="image_illus" src="../../assets/illustration.png" width="500" height="400">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" >
            <div *ngIf="!currentUser" class="loginForm">
                    <h2>Select user type and sign in:</h2>
                    <mat-radio-group #typeOfUser (change)="onChange($event)" class="radioBtn">
                        <mat-radio-button value="admin" color="accent" checked="true">Admin</mat-radio-button>
                        <mat-radio-button value="user">User</mat-radio-button>
                    </mat-radio-group><br>
                    <button mat-button class="card" (click)="signIn()">
                        <span><img src="../../assets/icons-google.png" width="30" height="30" class="gIcon"></span>
                        <span class="btnText">Sign in with Google</span>
                    </button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>