<h2 mat-dialog-title>Room Code</h2>
<mat-form-field>
    <mat-label>Enter room code(Min 4 characters):</mat-label>
    <input matInput [(ngModel)]="data.roomCode" (input)="validateRoomCode(data.roomCode)" required>
</mat-form-field>
<p *ngIf="!isexist" class="warning">{{message}}</p>
<mat-dialog-actions>
    <button mat-button (click)="onCancel()" >Cancel</button>
    <button mat-button  [mat-dialog-close]="data.roomCode" [disabled]="!isexist || emptyRoomCode">Join</button>
</mat-dialog-actions>