
<mat-grid-list cols="2" [rowHeight]="inH">
    <mat-grid-tile colspan="1" rowspan="1" >
        <img class="image_illus" src="../../assets/illustration.png" width="500" height="400">
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" >
        <div>
        <button mat-button class="card" *ngIf="isAdmin" (click)="createBoard()">
            <img class="icon" src="../../assets/strategy.png" width="48" height="48">
            Create New Board
        </button>
        <br><br>
        <button mat-button class="card" (click)="joinBoard()">
            <img class="icon" src="../../assets/meeting-room.png" width="48" height="48">
            Join Board
        </button>
        <br><br>
        <button mat-button class="card" (click)="viewBoard()">
            <img class="icon" src="../../assets/eye.png" width="50" height="50">
            View Existing Boards
        </button>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<router-outlet></router-outlet>
