
<h2 class="title">Existing Boards</h2>
<div class="card">
    <div class="container">
        <p class="btitle"><b>Project planning: DigiPlanner</b></p>
        <p class="roomCode">Room Code: duHrf45</p>
        <p class="date">12/09/19</p>
    </div>
    <button mat-button class="viewBtn">View</button>
</div>
<div class="card">
    <div class="container">
        <p class="btitle"><b>Microservices Discussion</b></p>
        <p class="roomCode">Room Code: utrHrf45</p>
        <p class="date">12/09/19</p>
    </div>
    <button mat-button class="viewBtn">View</button>
</div>
<div class="card">
    <div class="container">
        <p class="btitle"><b>Product planning</b></p>
        <p class="roomCode">Room Code: dufgrf45</p>
        <p class="date">12/09/19</p>
    </div>
    <button mat-button class="viewBtn">View</button>
</div>